<form  method="POST" class="character-create">
  <h2>Step 1: Choose Your Race</h2>
  <select id='name-create' name="race">
    {{#each races}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

  <h2>Step 2: Choose Your Class</h2>
  <select id='race-create' name="class">
    {{#each classes}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>

   <h2>Step 3: Choose Your Spells</h2>
  <select id='spells-create' name="spell">
    {{#each spells}}
      <option value="{{this}}">{{this}}</option>
    {{/each}}
  </select>


  <input class="btn" type="submit" value="Create Character">
</form>
