<div class="create">
    {{> characterCreate}}
</div>

<div class="char">
    {{#if characters}}
{{#each characters }}
  <h2>{{name}}</h2>
  <p><strong>Race:</strong> {{race}}</p>
  <p><strong>Class:</strong> {{clas}}</p>
 <p><strong>Spells:</strong> {{spells}}</p>
 <p><strong>Equipment:</strong> {{equipment}}</p>
  <p><strong>Alignment:</strong> {{alignment}}</p>

 <button class="btn" id="deleteCharacter" value="{{id}}">Delete Character</button>
  {{/each}}
  {{else}}
  <p>No character found.</p>
  {{/if}}
</div>


    <script src="js/delete.js"></script>

<h1>Homepage</h1>

<a href="/character-create" class="btn">Create a New Character</a>

<div class="res">
    <h2>D & D Resource Links</h2>
    <ul>
        <li><a href="https://www.dndbeyond.com/" target=blank>D & D Beyond</a></li>
        <li><a href="https://top.gg/servers/tag/dnd" target=blank>D & D Discord Servers</a></li>
        <li><a href="https://media.wizards.com/2018/dnd/downloads/DnD_BasicRules_2018.pdf" target=blank>D & D Basic Rules</a></li>
        <li><a href="https://www.dndbeyond.com/posts/1452-how-to-be-a-dungeon-master" target=blank>How to be A Dungeon Master</a></li>
        <li><a href="https://www.dndbeyond.com/posts/1026-common-terms-new-dungeons-dragons-players-should" target=blank>D & D Dictionary</a></li>
        <li><a href="https://www.dndbeyond.com/how-to-play-dnd" target=blank>How to Play D & D</a></li>
    </ul>
</div>

