<div class="create offset-2 col-8">
    {{> characterCreate}}
</div>

<div class="char">
    {{#if characters}}
{{#each characters }}
<div id="character-{{id}}">
  <h2>{{name}}</h2>
  <p><strong>Race:</strong> {{race}}</p>
  <p><strong>Class:</strong> {{clas}}</p>
 <p><strong>Spells:</strong> {{spells}}</p>
 <p><strong>Equipment:</strong> {{equipment}}</p>
  <p><strong>Alignment:</strong> {{alignment}}</p>

 <button class="deleteCharacter  btn" value="{{id}}">Delete Character</button>
 </div>
  {{/each}}
  {{else}}
  <p>No character found.</p>
  {{/if}}
</div>


    <script src="js/delete.js"></script>


<div class="res">
    <h2>D & D Resource Links</h2>
    <ul>
        <li><a href="https://www.dndbeyond.com/">D & D Beyond</a></li>
        <li><a href="https://www.dnd5eapi.co/">D & D 5e API</a></li>
    </ul>
</div>

