<div class="create">
    {{> characterCreate}}
</div>

<div class="char">
    {{#if characters}}
{{#each characters }}
  <h2>{{name}}</h2>
  <p><strong>Race:</strong> {{race}}</p>
  <p><strong>Class:</strong> {{clas}}</p>
 <p><strong>Spells:</strong> {{spells}}</p>
 <p><strong>Equipment:</strong> {{equipment}}</p>
  <p><strong>Alignment:</strong> {{alignment}}</p>

 <button id="deleteCharacter" value="{{id}}">Delete Character</button>
  {{/each}}
  {{else}}
  <p>No character found.</p>
  {{/if}}
</div>

    <script src="js/delete.js"></script>
