<div class="create offset-2 col-8">
    {{> characterCreate}}
</div>

<div class="char">
    {{#if characters}}
{{#each characters }}
<div id="character-{{id}}">
  <h2>{{name}}</h2>
  <p><strong>Race:</strong> {{race}} <strong>Class:</strong> {{clas}} <strong>Spells:</strong> {{spells}} <strong>Equipment:</strong> {{equipment}} <strong>Alignment:</strong> {{alignment}}</p>
  
 <button class="deleteCharacter  btn" value="{{id}}">Delete Character</button>
 </div>
  {{/each}}
  {{else}}
  <p>No character found.</p>
  {{/if}}
</div>


    <script src="js/delete.js"></script>


{{!-- <div class="res">
    <h2>D & D Resource Links</h2>
    <ul>
        <li></li>
        <li></li>
    </ul>
</div> --}}

