<div class="create offset-2 col-8">
    {{> characterCreate}}
</div>

<div class="char container text-center">
  <div class="row g-2">
    {{#if characters}}
      {{#each characters}}
        <div id="character-{{id}}" class="col-6">
          <h2>{{name}}</h2>
          <p><strong>Race:</strong> {{race}}</p>
          <p><strong>Class:</strong> {{clas}}</p>
          <p><strong>Spells:</strong> {{spells}}</p>
          <p><strong>Equipment:</strong> {{equipment}}</p>
          <p><strong>Alignment:</strong> {{alignment}}</p>
          <button class="deleteCharacter btn" value="{{id}}">Delete Character</button>
        </div>
      {{/each}}
    {{else}}
      <p>No character found.</p>
    {{/if}}
  </div>
</div>


    <script src="js/delete.js"></script>



